swagger: "2.0"
info:
  description: Finance api which implements common operations
  title: Finance API
  version: 1.0.0
  contact:
    email: gretler.tim@gmail.com
schemes:
  - http
  - https
basePath: /v1
produces:
  - application/json
consumes:
  - application/json

paths:
  /callPrice:
    get:
      tags:
        - financeapi
      operationId: get_call_price
      parameters:
        - in: body
          name: callPrice
          description: calculates call price
          
          schema:
            $ref: "#/definitions/option-price"
      responses:
        200:
          description: return call price
          schema:
            type: number
            description: call price
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
  /putPrice:
    get:
      tags:
        - financeapi
      operationId: get_put_price
      parameters:
        - in: body
          name: putPrice
          description: calculates put price
          schema:
            $ref: "#/definitions/option-price"
      responses:
        200:
          description: return put price
          schema:
            type: number
            description: put price
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
  /movingaverage:
    get:
      tags:
        - financeapi
      operationId: movingaverage
      parameters:
        - in: body
          name: movingaverage
          description: calculates movingaverage
          schema:
            $ref: "#/definitions/movingaverage-input"
      responses:
        200:
          description: returns moving average 
          schema:
              type: array
              items:
                type: number
              description: movingaverage datas
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
definitions:
  option-price:
    type: object
    properties:
      time-to-maturity:
        type: number
        description: time to maturity in years
      spot-price:
        type: number
      strike-price:
        type: number
      risk-free-rate:
        type: number
        description: value between 0 and 1
      sigma:
        type: number
        description: volatility as a value between 0 and 1
    required:
      - time-to-maturity
      - spot-price
      - risk-free-rate
      - sigma
      - strike-price
  movingaverage-input:
    type: object
    properties:
      time-data:
        type: array
        items:
          type: number
      point-to-avg:
        type: integer
    required:
      - time-data
      - point-to-avg
  error:
    type: object
    required:
      - message
    properties:
      code:
        type: integer
        format: int64
      message:
        type: string

      